/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: #000028;
  --accent-color: #FF0070;
  --button-text-color: #FF0070;
  --button-border-color: #FF0070;
  --button-border-color-hover: #FF007066;
  --page-background: url('../images/cover-image-dark.png');
  --site-title-color: #DB00FF;
  --text-color: #F1B2CE;
  --title-color: #000028;
  --section-title-color: #FF0070;


}

  /* Стилизация необходима. 
  Если убрать из dark.css, тогда ломается разметка при автовыборе темы. prefers-color-scheme: light скрывает элемент из тёмной темы.
  https://disk.yandex.ru/i/r5o4xAJ3rXYUpQ

  Если убрать grid из style.css, тогда ломается разметка при автовыборе тёмной темы, так как значение не задано.
  https://disk.yandex.ru/i/xfnZe6qPZNDLhg
  */
.theme-dark .bulb {
  display: grid;
 }
 
  /* Исправлено, удалены стили псевдоэлемента*/
